.cta-section {

    padding: 30 px 20px;
}

/* CARD */
.cta-inner {
    position: relative;
    max-width: 1200px;
    margin: auto;
    border-radius: 28px;
    overflow: hidden;

    display: flex;
    align-items: center;

    padding: 80px 90px;

    background: linear-gradient(to right,
            #f4f5f8 0%,
            #f4f5f8 45%,
            rgba(255, 255, 255, 0) 75%);

    min-height: 420px;
}

/* CONTENT */
.cta-content {
    max-width: 540px;
    z-index: 2;
    text-align: center;
}

/* HEADING */
.cta-content h2 {
    font-size: 40px;
    line-height: 1.15;
    font-weight: 300;
    color: #111;
}

.cta-content h2 span {
    font-weight: 600;
}

/* TEXT */
.cta-content p {
    margin-top: 18px;
    font-size: 12px;
    color: #555;
    max-width: 420px;
}

/* BUTTONS */
.cta-buttons {
    margin-top: 32px;
    display: flex;
    gap: 18px;
}

/* CALL BUTTON */
.cta-btn-primary {
    background: #000;
    color: #fff;
    border: none;
    padding: 13px 26px;
    border-radius: 50px;
    font-size: 14px;
    cursor: pointer;
}

/* WHATSAPP BUTTON */
.cta-btn-outline {
    background: #fff;
    border: 1px solid #dcdcdc;
    padding: 8px 14px 8px 18px;
    /* 🔥 left thoda zyada */
    border-radius: 50px;
    font-size: 14px;
    font-weight: 500;
    color: #111;

    display: inline-flex;
    /* 🔥 better than flex */
    align-items: center;
    gap: 12px;

    cursor: pointer;
    transition: all 0.3s ease;
}

/* ICON CIRCLE */
.cta-icon {
    width: 30px;
    height: 30px;
    border: 1px solid #111;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 13px;
    background: #fff;

    transition: all 0.3s ease;
}

/* IMAGE */
.cta-image {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100%;
    display: flex;
    align-items: flex-end;

}

.cta-image img {
    height: 100%;
    width: auto;
    /* object-fit: contain; */
    object-fit: cover;
    /* 🔥 MAIN FIX */
}

/* ================= RESPONSIVE ================= */

@media (max-width: 900px) {
    .cta-inner {
        flex-direction: column;
        text-align: center;
        padding: 50px 25px;
    }

    .cta-buttons {
        justify-content: center;
    }

    .cta-image {
        position: static;
        margin-top: 30px;
    }

    .cta-image img {
        width: 280px;
        height: auto;
    }
}

@media (max-width: 600px) {
    .cta-content h2 {
        font-size: 30px;
    }

    .cta-buttons {
        flex-direction: column;
        gap: 12px;
    }

    .cta-btn-primary,
    .cta-btn-outline {
        width: 100%;
        justify-content: center;
    }
}