.leadership {
     
    padding: 60px 0;
    color: #fff;
}

/* HEADING */
.leadership-heading {
    max-width: 1200px;
    margin: 0 auto 50px;
    padding: 0 20px;
    margin-bottom: 5px;
}

.leadership-heading h2 {
    font-size: 48px;
    font-weight: 400;
}

.leadership-heading h2 span {
    font-weight: 700;
}

.leadership-heading p {
    margin-top: 5px;
    max-width: 750px;
    color: #bbb;
    font-size: 13px;
}

/* GRID */
.leadership-grid {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

/* CARD */
.leadership-card {
    overflow: hidden;
    transition: 0.3s;
}

.leadership-card img {
    border-radius: 18px;
}

.leadership-card:hover {
    transform: translateY(-5px);
}

/* IMAGE */
.leadership-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}



.tag {
    font-size: 12px;
    color: #aaa;
}

.leadership-content h3 {
    font-size: 18px;
    margin: 5px 0;
    line-height: 1.4;
}

.leadership-content p {
    font-size: 14px;
    color: #bbb;
    margin-bottom: 5px;
}

/* BUTTON */
.read-btn {
    background: none;
    border: none;
    color: #f5c518;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 6px;
}

.read-btn span {
    font-size: 18px;
}

.leadership {
    
    padding: 60px 0;
    color: #fff;
}

/* GRID */
.leadership-grid {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

/* ITEM WRAPPER */
.leadership-item {
    position: relative;
}

/* IMAGE CARD */
.image-card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 18px;
}

/* TEXT CARD (FLOATING) */
.text-card {
    background: #fff;
    color: #111;
    border-radius: 18px;
    padding: 18px;
    margin-top: -50px;
    /* 👈 overlap effect */
    margin-left: 15px;
    margin-right: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
}

/* TEXT */
.tag {
    font-size: 12px;
    color: #777;
}

.text-card h3 {
    font-size: 17px;
    margin: 8px 0;
}

.text-card p {
    font-size: 14px;
    color: #555;
    margin-bottom: 12px;
}

/* BUTTON */
.read-btn {
    background: none;
    border: none;
    color: #f5c518;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
}