.news-section {
  color: #fff;
}

/* HEADING */
.news-heading {
  max-width: 1200px;
  margin: auto;
  
}

.news-heading h2 {
  font-size: 42px;
  font-weight: 300;
}

.news-heading span {
  font-weight: 700;
}

.news-heading p {
  margin-top: 10px;
  color: #aaa;
  max-width: 650px;
  font-size: 14px;
}

/* GRID */
.news-grid {
  max-width: 1200px;
  margin: auto;
  /* padding: 0 20px; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

/* CARD */
.news-card {
  background: linear-gradient(180deg, #2a2a2a, #1c1c1c);
  border-radius: 5px;
  overflow: hidden;
  transition: 0.3s;
}

.news-card:hover {
  transform: translateY(-6px);
}

/* IMAGE */
.news-img-wrapper {
  position: relative;
  overflow: hidden;
}

.news-img-wrapper img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
}

/* DATE */
.news-date {
  position: absolute;
  top: 12px;
  left: 12px;
  background: #fff;
  color: #000;
  font-size: 11px;
  padding: 6px 8px;
  border-radius: 6px;
  font-weight: 600;
  text-align: center;
}

/* LOGO */
.news-logo {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 45px;  
  height: 45px;
  object-fit: contain;
  background: #fff;
  border-radius: 50%;
  padding: 5px;
}

/* CONTENT */
.news-content {
  padding: 18px;
}

.news-content h3 {
  font-size: 16px;
  margin-bottom: 8px;
}

.news-content p {
  font-size: 13px;
  color: #bbb;
  margin-bottom: 12px;
}

/* READ MORE */
.news-read {
  color: #f5c518;
  font-size: 13px;
  cursor: pointer;
}